<div class="fixed bottom-6 left-6 right-6 z-30 flex justify-center">
    <div
        [class]="
        (type === 'error' ? 'bg-red-50 dark:bg-red-900/50' : '') ||
        (type === 'success' ? 'bg-green-50 dark:bg-green-900/50' : '') ||
        (type === 'warning' ? 'bg-yellow-50 dark:bg-yellow-900/50' : '')"
        class="p-3.5 pr-4 flex space-x-2 rounded"
    >
        <svg
            [class]="
            (type === 'error' ? 'text-red-400' : '') ||
            (type === 'success' ? 'text-green-400' : '') ||
            (type === 'warning' ? 'text-yellow-400' : '')"
            class="h-5 w-5 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd"></path></svg>
        <p
            [class]="
            (type === 'error' ? 'text-red-500 dark:text-red-400' : '') ||
            (type === 'success' ? 'text-green-500 dark:text-green-400' : '') ||
            (type === 'warning' ? 'text-yellow-500 dark:text-yellow-400' : '')"
            class="text-sm"
        >
            <ng-content></ng-content>
        </p>
    </div>
</div>
