<div class="px-6 lg:px-8 container mx-auto pt-40 pb-20 space-y-28 sm:space-y-36 xl:max-w-screen-xl">
    <section class='text-center mx-auto max-w-xl'>
        <h2 class=" text-3xl font-bold !leading-[1.1] tracking-tight sm:text-5xl dark:text-white">The culinary vision of Flavorverse</h2>
        <p class="mt-6 leading-relaxed text-xl text-gray-700 dark:text-gray-300">To create a platform where food enthusiasts, like you, can come together to discover, share, and savor an array of delightful recipes. We believe in the power of community and the joy of cooking, and we've built this app with that in mind.</p>
    </section>

    <section class="space-y-24">
        <div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center">
            <div>
                <div class="text-orange-600 uppercase font-medium">More than just an app</div>
                <h2 class="mt-4 max-w-sm text-3xl font-bold !leading-tight tracking-tight dark:text-white">Where food meets community: more than just recipes!</h2>
                <p class="mt-5 leading-relaxed text-lg text-gray-700 dark:text-gray-300">Flavorverse is not just about recipes; it's about the vibrant community that surrounds them. It's a place where food enthusiasts unite to share their passion, exchange ideas, and form lasting connections. It's a hub where cooking transcends the kitchen, and flavors become a conversation.</p>
            </div>
            <div aria-hidden="true" class="mt-10 lg:mt-0">
                <img src="https://images.unsplash.com/photo-1601118964938-228a89955311?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=360&h=420&q=80" alt="" class="max-lg:w-full mx-auto rounded-lg shadow-lg bg-gray-500"/>
            </div>
        </div>

        <div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center">
            <div class="lg:col-start-2">
                <div class="text-orange-600 uppercase font-medium">Cooking is for everyone</div>
                <h2 class="mt-4 max-w-sm text-3xl font-bold !leading-tight tracking-tight dark:text-white">From kitchen novice to culinary maestro.</h2>
                <p class="mt-5 leading-relaxed text-lg text-gray-700 dark:text-gray-300">At Flavorverse, we believe that everyone can be a culinary genius. Whether you're a beginner just learning the ropes or an experienced chef looking to expand your horizons, our platform is your gateway to a world of flavors and creativity.</p>
            </div>
            <div class="mt-10 lg:mt-0 lg:col-start-1 lg:row-start-1">
                <!--
                https://images.unsplash.com/photo-1601118964938-228a89955311?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=360&h=420&q=80
                -->
                <img src="https://images.unsplash.com/photo-1551218808-94e220e084d2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=360&h=420&q=80" alt="" class="max-lg:w-full mx-auto rounded-lg shadow-lg bg-gray-500"/>
            </div>
        </div>
    </section>

    <section>
        <div class="max-w-lg mx-auto text-center">
            <h2 class="text-3xl font-bold !leading-tight tracking-tight sm:text-4xl dark:text-white">Flavorverse - where your recipes come to life!</h2>
            <p class="mt-6 text-lg leading-relaxed text-gray-700 dark:text-gray-300">Flavorverse is designed a user-friendly platform that brings together the joy of cooking and the power of community.</p>
        </div>
        <dl class="mx-auto max-w-screen-lg mt-16 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 lg:gap-x-16">
            <div class="flex">
                <div class="shrink-0 rounded-md h-10 w-10 flex items-center justify-center bg-orange-100 text-orange-600">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6"><path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd" /></svg>
                </div>
                <div class="ml-5">
                    <dt class="text-medium-size font-bold dark:text-white">Personalized profiles.</dt>
                    <dd class="mt-2.5 leading-relaxed text-gray-700 dark:text-gray-300">Enhance your profile with a personalized image and a bio that tells your unique cooking story. Share your culinary background or the cuisine that ignites your passion.</dd>
                </div>
            </div>
            <div class="flex">
                <div class="shrink-0 rounded-md h-10 w-10 flex items-center justify-center bg-orange-100 text-orange-600">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6"><path d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5H5.625z" /><path d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z" /></svg>
                </div>
                <div class="ml-5">
                    <dt class="text-medium-size font-bold dark:text-white">Recipe magic.</dt>
                    <dd class="mt-2.5 leading-relaxed text-gray-700 dark:text-gray-300">When you add a recipe, unleash your creativity by adding tags and a mouthwatering recipe image. Let your culinary creations shine!</dd>
                </div>
            </div>
            <div class="flex">
                <div class="shrink-0 rounded-md h-10 w-10 flex items-center justify-center bg-orange-100 text-orange-600">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6"><path fill-rule="evenodd" d="M4.848 2.771A49.144 49.144 0 0112 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97-1.94.284-3.916.455-5.922.505a.39.39 0 00-.266.112L8.78 21.53A.75.75 0 017.5 21v-3.955a48.842 48.842 0 01-2.652-.316c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97z" clip-rule="evenodd" /></svg>
                </div>
                <div class="ml-5">
                    <dt class="text-medium-size font-bold dark:text-white">Interactive reviews.</dt>
                    <dd class="mt-2.5 leading-relaxed text-gray-700 dark:text-gray-300">Explore the treasure trove of recipes and leave your thoughts with insightful reviews. Share your experiences, tips, and tweaks, and help the community grow together.</dd>
                </div>
            </div>
            <div class="flex">
                <div class="shrink-0 rounded-md h-10 w-10 flex items-center justify-center bg-orange-100 text-orange-600">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6"><path d="M18.75 12.75h1.5a.75.75 0 000-1.5h-1.5a.75.75 0 000 1.5zM12 6a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 0112 6zM12 18a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 0112 18zM3.75 6.75h1.5a.75.75 0 100-1.5h-1.5a.75.75 0 000 1.5zM5.25 18.75h-1.5a.75.75 0 010-1.5h1.5a.75.75 0 010 1.5zM3 12a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 013 12zM9 3.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5zM12.75 12a2.25 2.25 0 114.5 0 2.25 2.25 0 01-4.5 0zM9 15.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z" /></svg>
                </div>
                <div class="ml-5">
                    <dt class="text-medium-size font-bold dark:text-white">Smart recipe filtering.</dt>
                    <dd class="mt-2.5 leading-relaxed text-gray-700 dark:text-gray-300">Our smart filtering system lets you search for recipes by tags, ingredients, and rating. Craving a vegetarian pasta with a high rating? No problem!</dd>
                </div>
            </div>
        </dl>
    </section>




    <section id="faq-section" class='mx-auto max-w-screen-xl'>
        <div class="max-w-lg mx-auto text-center">
            <h2 class="text-3xl font-bold tracking-tight sm:text-4xl dark:text-white">Frequently asked questions.</h2>
            <p class="mt-4 text-lg leading-relaxed text-gray-700 dark:text-gray-300">find answers to common questions about submitting recipes, searching for culinary inspiration, leaving reviews, and more.</p>
        </div>
        <div class='mt-14 grid xl:grid-cols-2 gap-5'>
            <label for='faq-6' class='block p-6 border rounded-lg'>
                <div class='flex items-center justify-between space-x-4'>
                    <div class="text-xl font-bold dark:text-white">How do I create an account on the app?</div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width={1.5} stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" /></svg>
                </div>
                <input type='checkbox' id='faq-6' class='hidden faq-opener' />
                <p class="hidden leading-relaxed mt-4 text-gray-700 dark:text-gray-300">You'll be asked to provide your email address and choose a unique username. After submitting this information, a verification URL will be sent to the provided email address. Click on the verification link to complete the sign-up process.</p>
            </label>
            <label for='faq-1' class='block p-6 border rounded-lg'>
                <div class='flex items-center justify-between space-x-4'>
                    <div class="text-xl font-bold dark:text-white">How can I submit a recipe to the app?</div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width={1.5} stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" /></svg>
                </div>
                <input type='checkbox' id='faq-1' class='hidden faq-opener' />
                <p class="hidden leading-relaxed mt-4 text-gray-700 dark:text-gray-300">To submit a recipe, click on the "Submit Recipe" button on the app's homepage. You'll be prompted to provide details such as ingredients, quantity, duration, directions, tags, and an image for your recipe.</p>
            </label>
            <label for='faq-2' class='block p-6 border rounded-lg'>
                <div class='flex items-center justify-between space-x-4'>
                    <div class="text-xl font-bold dark:text-white">Can I edit or delete a recipe I've submitted?</div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width={1.5} stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" /></svg>
                </div>
                <input type='checkbox' id='faq-2' class='hidden faq-opener' />
                <p class="hidden leading-relaxed mt-4 text-gray-700 dark:text-gray-300">Yes, you can edit or delete your own recipes. Simply navigate to the recipe you want to modify, and you'll find options to edit or delete it.</p>
            </label>
            <label for='faq-3' class='block p-6 border rounded-lg'>
                <div class='flex items-center justify-between space-x-4'>
                    <div class="text-xl font-bold dark:text-white">How easy is it to browse recipes?</div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width={1.5} stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" /></svg>
                </div>
                <input type='checkbox' id='faq-3' class='hidden faq-opener' />
                <p class="hidden leading-relaxed mt-4 text-gray-700 dark:text-gray-300">Use our advanced search feature to find recipes that match your criteria. You can search by title, description, ingredients, duration, and even rating. Simply enter your preferences in the search bar, and the app will display matching recipes.</p>
            </label>
            <label for='faq-4' class='block p-6 border rounded-lg'>
                <div class='flex items-center justify-between space-x-4'>
                    <div class="text-xl font-bold dark:text-white">How do I add a review for a recipe?</div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width={1.5} stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" /></svg>
                </div>
                <input type='checkbox' id='faq-4' class='hidden faq-opener' />
                <p class="hidden leading-relaxed mt-4 text-gray-700 dark:text-gray-300">To leave a review for a recipe, open the recipe's page and scroll down to the reviews section. Click on the "Write a Review" button, and you can share your thoughts and rate the recipe.</p>
            </label>
            <label for='faq-5' class='block p-6 border rounded-lg'>
                <div class='flex items-center justify-between space-x-4'>
                    <div class="text-xl font-bold dark:text-white">Can I like or dislike reviews left by other users?</div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width={1.5} stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" /></svg>
                </div>
                <input type='checkbox' id='faq-5' class='hidden faq-opener' />
                <p class="hidden leading-relaxed mt-4 text-gray-700 dark:text-gray-300">Yes, you can express your opinion on reviews by clicking the thumbs-up (like) or thumbs-down (dislike) button under each review. This helps us identify helpful and valuable reviews.</p>
            </label>
        </div>
    </section>

    <section class="max-lg:flex-col flex items-center justify-between bg-orange-600 text-white py-10 px-6 sm:px-10 rounded-2xl">
        <div class="max-w-screen-sm flex flex-col space-y-5 max-lg:text-center">
            <h1 class="text-3xl font-bold tracking-tight leading-none !text-gray-100 sm:text-4xl">Join the culinary revolution now!</h1>
            <p class="text-lg">Ready to take your culinary journey to the next level? Don't miss out on the delicious recipes, interactive community, and endless culinary inspiration waiting for you at Flavorverse.</p>
        </div>
        <div class="max-sm:w-full max-lg:mt-8 space-y-3 text-center">
            <a routerLink="/join" class="block px-5 py-3 !bg-white rounded-md font-semibold text-orange-600">Create account</a>
            <a routerLink="/login" class="block px-5 py-3 border !border-white rounded-md font-semibold">Sign in</a>
        </div>
    </section>
</div>
<app-footer></app-footer>
