<div class="px-6 lg:px-8 container mx-auto pt-40 pb-20 space-y-32 sm:space-y-40 xl:max-w-screen-xl">
    <section class="space-y-24 xl:space-y-12">
        <div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center">
            <div>
                <h2 class="mt-3 max-w-md text-3xl !leading-tight font-bold tracking-tight sm:text-4xl dark:text-white">Discover, share, and savor the flavors of endless dishes</h2>
                <p class="mt-6 text-lg leading-[1.7] text-gray-700 dark:text-gray-300">your go-to destination for culinary inspiration and community-driven cooking! Whether you're a seasoned chef or a kitchen novice, our platform is here to ignite your passion for food.</p>
                <div class="mt-7 space-y-6">
                    <div class="flex space-x-3">
                        <div class="pt-1">
                            <div class="shrink-0 rounded-full h-5 w-5 flex items-center justify-center bg-orange-100 text-orange-600">
                                <svg class="flex-shrink-0 w-3 h-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>
                            </div>
                        </div>
                        <p class="leading-[1.7]">Dive into a vast collection of tried-and-tested recipes from around the world, from mouthwatering appetizers to decadent desserts.</p>
                    </div>
                    <div class="flex space-x-3">
                        <div class="pt-1">
                            <div class="shrink-0 rounded-full h-5 w-5 flex items-center justify-center bg-orange-100 text-orange-600">
                                <svg class="flex-shrink-0 w-3 h-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>
                            </div>
                        </div>
                        <p class="leading-[1.7]">Upload your own creations, complete with ingredients, step-by-step instructions, and mouthwatering photos.</p>
                    </div>
                    <div class="flex space-x-3">
                        <div class="pt-1">
                            <div class="shrink-0 rounded-full h-5 w-5 flex items-center justify-center bg-orange-100 text-orange-600">
                                <svg class="flex-shrink-0 w-3 h-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>
                            </div>
                        </div>
                        <p class="leading-[1.7]">Connect with like-minded foodies, exchange cooking tips, and share your culinary journey with our vibrant community.</p>
                    </div>
                </div>
            </div>
            <div aria-hidden="true" class="mt-10 lg:mt-0">
                <img src="https://images.unsplash.com/photo-1467003909585-2f8a72700288?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=480&h=560&q=80" alt="" class="max-lg:w-full mx-auto rounded-lg shadow-lg bg-gray-500"/>
            </div>
        </div>
    </section>

    <section>
        <div class="max-w-lg mx-auto text-center">
            <h2 class="text-3xl font-bold !leading-tight tracking-tight sm:text-4xl dark:text-white">Flavorverse - where your recipes come to life!</h2>
            <p class="mt-6 text-lg leading-[1.7] text-gray-700 dark:text-gray-300">Flavorverse is designed a user-friendly platform that brings together the joy of cooking and the power of community.</p>
        </div>
        <dl class="mx-auto max-w-screen-lg mt-14 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 lg:gap-x-8">
            <div class="flex">
                <div class="shrink-0 rounded-md h-8 w-8 flex items-center justify-center bg-orange-100 text-orange-600">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-[18px] h-[18px]"><path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd" /></svg>
                </div>
                <div class="ml-4">
                    <dt class="text-xl font-bold dark:text-white">Personalized profiles.</dt>
                    <dd class="mt-3 leading-[1.7] text-gray-700 dark:text-gray-300">Enhance your profile with a personalized image and a bio that tells your unique cooking story. Share your culinary background or the cuisine that ignites your passion.</dd>
                </div>
            </div>
            <div class="flex">
                <div class="shrink-0 rounded-md h-8 w-8 flex items-center justify-center bg-orange-100 text-orange-600">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-[18px] h-[18px]"><path d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5H5.625z" /><path d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z" /></svg>
                </div>
                <div class="ml-4">
                    <dt class="text-xl font-bold dark:text-white">Recipe magic.</dt>
                    <dd class="mt-3 leading-[1.7] text-gray-700 dark:text-gray-300">When you add a recipe, unleash your creativity by adding tags and a mouthwatering recipe image. Let your culinary creations shine!</dd>
                </div>
            </div>
            <div class="flex">
                <div class="shrink-0 rounded-md h-8 w-8 flex items-center justify-center bg-orange-100 text-orange-600">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-[18px] h-[18px]"><path fill-rule="evenodd" d="M4.848 2.771A49.144 49.144 0 0112 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97-1.94.284-3.916.455-5.922.505a.39.39 0 00-.266.112L8.78 21.53A.75.75 0 017.5 21v-3.955a48.842 48.842 0 01-2.652-.316c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97z" clip-rule="evenodd" /></svg>
                </div>
                <div class="ml-4">
                    <dt class="text-xl font-bold dark:text-white">Interactive reviews.</dt>
                    <dd class="mt-3 leading-[1.7] text-gray-700 dark:text-gray-300">Explore the treasure trove of recipes and leave your thoughts with insightful reviews. Share your experiences, tips, and tweaks, and help the community grow together.</dd>
                </div>
            </div>
            <div class="flex">
                <div class="shrink-0 rounded-md h-8 w-8 flex items-center justify-center bg-orange-100 text-orange-600">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-[18px] h-[18px]"><path d="M18.75 12.75h1.5a.75.75 0 000-1.5h-1.5a.75.75 0 000 1.5zM12 6a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 0112 6zM12 18a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 0112 18zM3.75 6.75h1.5a.75.75 0 100-1.5h-1.5a.75.75 0 000 1.5zM5.25 18.75h-1.5a.75.75 0 010-1.5h1.5a.75.75 0 010 1.5zM3 12a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 013 12zM9 3.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5zM12.75 12a2.25 2.25 0 114.5 0 2.25 2.25 0 01-4.5 0zM9 15.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z" /></svg>
                </div>
                <div class="ml-4">
                    <dt class="text-xl font-bold dark:text-white">Smart recipe filtering.</dt>
                    <dd class="mt-3 leading-[1.7] text-gray-700 dark:text-gray-300">Our smart filtering system lets you search for recipes by tags, ingredients, and rating. Craving a vegetarian pasta with a high rating? No problem!</dd>
                </div>
            </div>
        </dl>
    </section>

    <section class="space-y-24 xl:space-y-16">
        <div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center">
            <div class="lg:col-start-2">
                <div class="mb-5 text-orange-600 uppercase font-medium">Cooking is for everyone</div>
                <h2 class="mt-3 max-w-sm text-2xl font-bold !leading-tight tracking-tight sm:text-3xl dark:text-white">From kitchen novice to culinary maestro.</h2>
                <p class="mt-5 leading-[1.7] text-lg text-gray-700 dark:text-gray-300">At Flavorverse, we believe that everyone can be a culinary genius. Whether you're a beginner just learning the ropes or an experienced chef looking to expand your horizons, our platform is your gateway to a world of flavors and creativity.</p>
            </div>
            <div class="mt-10 lg:mt-0 lg:col-start-1 lg:row-start-1">
                <!--
                https://images.unsplash.com/photo-1601118964938-228a89955311?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=360&h=420&q=80
                -->
                <img src="https://images.unsplash.com/photo-1551218808-94e220e084d2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=360&h=420&q=80" alt="" class="max-lg:w-full mx-auto rounded-lg shadow-lg bg-gray-500"/>
            </div>
        </div>

        <div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center">
            <div>
                <div class="mb-5 text-orange-600 uppercase font-medium">More than just an app</div>
                <h2 class="mt-3 max-w-sm text-2xl font-bold !leading-tight tracking-tight sm:text-3xl dark:text-white">Where food meets community: more than just recipes!</h2>
                <p class="mt-5 leading-[1.7] text-lg text-gray-700 dark:text-gray-300">Flavorverse is not just about recipes; it's about the vibrant community that surrounds them. It's a place where food enthusiasts unite to share their passion, exchange ideas, and form lasting connections. It's a hub where cooking transcends the kitchen, and flavors become a conversation.</p>
            </div>
            <div aria-hidden="true" class="mt-10 lg:mt-0">
                <img src="https://images.unsplash.com/photo-1601118964938-228a89955311?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=360&h=420&q=80" alt="" class="max-lg:w-full mx-auto rounded-lg shadow-lg bg-gray-500"/>
            </div>
        </div>
    </section>

    <section class="bg-orange-600 text-white p-6 rounded-2xl flex flex-col justify-center space-y-8 sm:p-10">
        <div class="max-w-screen-sm flex flex-col space-y-5 text-center mx-auto">
            <h1 class="text-3xl font-bold tracking-tight leading-none !text-gray-100 sm:text-4xl">Join the culinary revolution now!</h1>
            <p class="text-lg">Ready to take your culinary journey to the next level? Don't miss out on the delicious recipes, interactive community, and endless culinary inspiration waiting for you at Flavorverse.</p>
        </div>
        <div class="max-sm:w-full flex flex-row items-center self-center justify-center flex-shrink-0 lg:justify-end">
            <div class="w-full flex max-sm:flex-col">
                <a routerLink="/join" class="block px-5 py-3 !bg-white rounded-md font-medium text-center text-orange-600">Create account</a>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>
