<app-popup *ngIf="submitErrorMsg" type="error">{{submitErrorMsg}}</app-popup>
<div class="py-32 px-6 mx-auto container sm:max-w-screen-sm">
    <app-retrieval-wrapper [data]="review" [errorMsg]="errorMsg" [skeleton]="skeleton">
        <ng-container *ngIf="review">
            <h1 class="mb-8 text-2xl font-extrabold tracking-[-.01em] text-slate-900">Edit review</h1>
            <app-rating (onRatingChange)="setRating($event)" [isClickable]="true" [rating]="review.rating"></app-rating>
            <textarea [(ngModel)]="review.body" (input)="handleAutoResize($event)" class="mt-4 flex rounded w-full h-32 py-2.5 px-3.5 text-base leading-[1.6] overflow-hidden resize-none" placeholder="What do you think about the recipe?" ></textarea>
            <button (click)="submitChanges($event)" [disabled]="!((review.rating > 0) && review && (review.body.length < 1000))" class="mt-2 ml-auto block btn-primary py-2 px-3">Submit</button>
            <div class="mt-10 border-t pt-8">
                <h2 class="mb-2 font-extrabold text-slate-900">Delete review</h2>
                <p class="pb-0.5">If you choose to delete the review, all the reactions will be gone as well. This action is not reversible.</p>
                <button (click)="deleteReview($event)" class="mt-4 btn-secondary py-2 px-3 text-red-600 dark:text-red-500">Delete review</button>
            </div>
        </ng-container>
    </app-retrieval-wrapper>
</div>
