<div class="flex min-h-screen px-6">
    <div class="m-auto container max-w-lg py-20 text-center">
        <svg class="h-10 w-10 text-slate-300 mx-auto dark:text-gray-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.25" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" /></svg>
        <h3 class="font-extrabold text-lg text-slate-900 mt-4 mb-2">Verify your email</h3>
        <p>You need to have your email verified to use Flavorverse as a registered user. Instructions on how to verify has been sent to your email.</p>
        <button (click)="logout()" class="mt-5 btn-secondary py-2 px-3">Logout</button>
    </div>
</div>
