@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-feature-settings: "cv02","cv03","cv04","cv11";
        font-weight: 425;
    }

    input, textarea, button {
        background: none;
        font-feature-settings: inherit;
        outline: none;
    }

    input[type='text'],
    input[type='number'],
    input[type='email'],
    input[type='password'],
    textarea {
        @apply ring-1 ring-slate-300 shadow-sm text-sm transition-shadow focus:ring-orange-600 dark:ring-gray-700 dark:focus:ring-orange-500 dark:bg-gray-800/75 dark:placeholder:text-gray-600
    }
}

@layer components {


    .divide-x, .divide-y {
        @apply dark:divide-gray-700
    }

    .btn-primary {
        @apply
        rounded-md
        bg-orange-600
        text-sm font-medium text-white transition-colors
        enabled:hover:bg-orange-700
        focus:outline focus:outline-2 focus:outline-orange-600 focus:outline-offset-4
        dark:focus:outline-orange-500
    }

    .btn-secondary {
        @apply shadow-sm rounded-md ring-1 ring-slate-300 text-sm font-medium transition-colors hover:bg-slate-100 dark:ring-gray-700
    }

    .btn-soft {
        @apply bg-orange-50 text-orange-600 font-medium transition-colors hover:bg-orange-100 dark:bg-orange-900/50
    }
}

@layer utilities {
    .border, .border-b, .border-r, .border-t, .border-l {
        @apply dark:border-gray-700
    }

    .border-orange-600 {
        @apply dark:border-orange-500
    }

    .text-slate-400 {
        @apply dark:text-gray-500
    }

    .text-slate-900 {
        @apply dark:text-gray-100
    }

    .text-orange-600 {
        @apply dark:text-orange-500
    }

    .bg-slate-100 {
        @apply dark:bg-gray-800
    }

    .bg-orange-600 {
        @apply dark:bg-orange-500
    }
}
