@tailwind base;
@tailwind components;
@tailwind utilities;

/*
font-weight: 425;
font-feature-settings: "cv02","cv03","cv04","cv11";
*/

@font-face {
    font-family: 'Chirp';
    font-style: normal;
    font-weight: 400;
    src: url("./assets/Chirp-Regular.woff2");
}
@font-face {
    font-family: 'Chirp';
    font-style: normal;
    font-weight: 500;
    src: url("./assets/Chirp-Medium.woff2");
}
@font-face {
    font-family: 'Chirp';
    font-style: normal;
    font-weight: 600;
    src: url("./assets/Chirp-Bold.woff2");
}
@font-face {
    font-family: 'Chirp';
    font-style: normal;
    font-weight: 700;
    src: url("./assets/Chirp-Heavy.woff2");
}

@layer base {
    html {

    }

    input, textarea, button {
        background: none;
        font-feature-settings: inherit;
        outline: none;
    }

    input[type='text'],
    input[type='number'],
    input[type='email'],
    input[type='password'],
    textarea {
        @apply
        appearance-none
        border
        dark:border-gray-700
        focus:border-orange-600 dark:focus:border-orange-500
        dark:placeholder:text-gray-600
    }

    button:disabled {
        @apply opacity-75 cursor-not-allowed
    }
}

@layer components {
    .btn-primary {
        @apply
        bg-orange-600
        font-medium text-white text-sm
        enabled:hover:bg-orange-700 dark:enabled:hover:bg-orange-400
    }

    .btn-secondary {
        @apply
        bg-slate-100
        font-medium text-sm
        enabled:hover:bg-slate-200
        dark:bg-gray-800/75 dark:border-gray-700
    }

    .btn-soft {
        @apply
        bg-orange-50
        text-orange-600 font-medium text-sm
        enabled:hover:bg-orange-100
        dark:bg-orange-900/50
    }
}

@layer utilities {
    .divide-x, .divide-y {
        @apply dark:divide-gray-700
    }

    .border, .border-b, .border-r, .border-t, .border-l {
        @apply dark:border-gray-700
    }

    .border-orange-600 {
        @apply dark:border-orange-500
    }

    .text-slate-400 {
        @apply dark:text-gray-500
    }

    .text-slate-900 {
        @apply dark:text-gray-100
    }

    .text-orange-600 {
        @apply dark:text-orange-500
    }

    .bg-slate-100 {
        @apply dark:bg-gray-800
    }

    .bg-orange-600 {
        @apply dark:bg-orange-500
    }

    .bg-white {
        @apply dark:bg-gray-900
    }
}
