@tailwind base;
@tailwind components;
@tailwind utilities;

/*
font-feature-settings: "cv02","cv03","cv04","cv11";
*/

@layer base {
    html {
        font-weight: 425;
        font-feature-settings: "cv02","cv03","cv04","cv11";
    }

    input, textarea, button {
        background: none;
        font-feature-settings: inherit;
        outline: none;
    }

    input[type='text'],
    input[type='number'],
    input[type='email'],
    input[type='password'],
    textarea {
        @apply
        ring-1 ring-slate-300
        shadow-sm
        text-sm
        dark:ring-gray-700
        focus:ring-orange-600 dark:focus:ring-orange-500
        dark:bg-gray-800/75
        dark:placeholder:text-gray-600
    }

    button:disabled {
        @apply opacity-75 cursor-not-allowed
    }
}

@layer components {
    .btn-primary {
        @apply
        rounded-md
        bg-orange-600
        text-sm font-medium text-white
        enabled:hover:bg-orange-700 dark:enabled:hover:bg-orange-400
    }

    .btn-secondary {
        @apply
        shadow-sm
        rounded-md
        ring-1 ring-slate-300
        text-sm font-medium
        hover:bg-slate-100
        dark:bg-gray-800/75 dark:ring-gray-700
    }

    .btn-soft {
        @apply
        bg-orange-50
        text-orange-600 font-medium
        hover:bg-orange-100 dark:bg-orange-900/50
    }
}

@layer utilities {
    .divide-x, .divide-y {
        @apply dark:divide-gray-700
    }

    .border, .border-b, .border-r, .border-t, .border-l {
        @apply dark:border-gray-700
    }

    .border-orange-600 {
        @apply dark:border-orange-500
    }

    .text-slate-400 {
        @apply dark:text-gray-500
    }

    .text-slate-900 {
        @apply dark:text-gray-100
    }

    .text-orange-600 {
        @apply dark:text-orange-500
    }

    .bg-slate-100 {
        @apply dark:bg-gray-800
    }

    .bg-orange-600 {
        @apply dark:bg-orange-500
    }

    .bg-white {
        @apply dark:bg-gray-900
    }
}
