<div id="settings" class="text-slate-100 select-none animate-pulse dark:text-gray-800">
    <div>
        <div class="description">
            <h2 class="font-semibold w-fit bg-slate-100">Profile</h2>
            <p class="mt-2 bg-slate-100">This information will be displayed publicly so be careful with what you share.</p>
        </div>
        <div class="space-y-8">
            <div class="flex items-center space-x-3">
                <div class="h-20 w-20 shrink-0 rounded-full bg-slate-100"></div>
                <div class="space-y-2">
                    <div class="py-1 px-3 w-fit bg-slate-100">Upload image</div>
                    <span class="block text-sm bg-slate-100">No file selected</span>
                </div>
            </div>
            <div>
                <div for="username" class="block text-sm mb-2 w-fit bg-slate-100">Username</div>
                <div class="w-full py-1.5 px-3 bg-slate-100">SAMPLE</div>
            </div>
            <div>
                <div for="name" class="block text-sm mb-2 w-fit bg-slate-100">Username</div>
                <div class="w-full py-1.5 px-3 bg-slate-100">SAMPLE</div>
            </div>
            <div>
                <div for="about" class="block text-sm mb-2 w-fit bg-slate-100">Username</div>
                <div class="w-full h-24 py-2.5 px-3.5 bg-slate-100">SAMPLE</div>
            </div>
            <div>
                <div for="link" class="block text-sm mb-2 w-fit bg-slate-100">Username</div>
                <div class="w-full py-1.5 px-3 bg-slate-100">SAMPLE</div>
            </div>
            <div class="w-fit py-1 px-3 bg-slate-100">EXAMPLE</div>
        </div>
    </div>

    <div>
        <div class="description">
            <h2 class="font-semibold w-fit bg-slate-100">Profile</h2>
            <p class="mt-2 bg-slate-100">This information will be displayed publicly so be careful with what you share.</p>
        </div>
        <div class="space-y-8">
            <div>
                <div for="link" class="block text-sm mb-2 leading-6 w-fit bg-slate-100">Username</div>
                <div class="w-full py-1.5 px-3 bg-slate-100">SAMPLE</div>
            </div>
            <div>
                <div for="link" class="block text-sm mb-2 leading-6 w-fit bg-slate-100">Username</div>
                <div class="w-full py-1.5 px-3 bg-slate-100">SAMPLE</div>
            </div>
            <div class="w-fit py-1 px-3 bg-slate-100">EXAMPLE</div>
        </div>
    </div>

    <div>
        <div class="description">
            <h2 class="font-semibold w-fit bg-slate-100">Profile</h2>
            <p class="mt-2 bg-slate-100">This information will be displayed publicly so be careful with what you share.</p>
        </div>
        <div class="space-y-8">
            <div>
                <div for="link" class="block text-sm mb-2 leading-6 w-fit bg-slate-100">Username</div>
                <div class="w-full py-1.5 px-3 bg-slate-100">SAMPLE</div>
            </div>
            <div>
                <div for="link" class="block text-sm mb-2 leading-6 w-fit bg-slate-100">Username</div>
                <div class="w-full py-1.5 px-3 bg-slate-100">SAMPLE</div>
            </div>
            <div class="w-fit py-1 px-3 bg-slate-100">EXAMPLE</div>
        </div>
    </div>

    <div>
        <div class="description">
            <h2 class="font-semibold w-fit bg-slate-100">Profile</h2>
            <p class="mt-2 bg-slate-100">This information will be displayed publicly so be careful with what you share.</p>
        </div>
        <div class="w-fit py-1 px-3 h-fit w-fit bg-slate-100">EXAMPLE</div>
    </div>
</div>
