<app-popup *ngIf="errorMsg" type="error">{{errorMsg}}</app-popup>
<app-popup *ngIf="successMsg" type="success">{{successMsg}}</app-popup>
<div class="flex min-h-screen px-6">
    <div class="m-auto container max-w-sm py-20 space-y-3">
        <h1 class="text-2xl leading-9 font-extrabold text-slate-900">Reset password</h1>
        <p>Choose a new password for your account. Your old password will be deleted in the process.</p>
        <div class="pt-3.5 flex gap-2.5 flex-col">
            <input [(ngModel)]="password" class="py-2 px-3 w-full" type="text" placeholder="Choose your new password"/>
            <div class="h-full"><app-button (btnClick)="submitPassword()" [isClickable]="true" [isOperationEnded]="!!(errorMsg || successMsg)">Update</app-button></div>
        </div>
    </div>
</div>
