<app-popup *ngIf="errorMsg" type="error">{{errorMsg}}</app-popup>
<app-popup *ngIf="successMsg" type="success">{{successMsg}}</app-popup>
<div class="bg-white dark:bg-gray-900">
    <div class="flex items-center h-screen">
        <div class="max-lg:hidden h-full w-full bg-cover bg-center bg-photo">
            <div class="flex items-center h-full px-20 bg-gray-900 bg-opacity-40">
                <div class='max-w-sm text-white'>
                    <h1 class='text-3xl font-bold'>Discover your favorite recipes</h1>
                    <p class="mt-4 leading-[1.6]">From mouthwatering mains to irresistible desserts, we've curated a diverse collection of dishes to satisfy every palate. Explore, cook, and create unforgettable meals with ease.</p>
                </div>
            </div>
        </div>
        <div class="max-lg:mx-auto shrink-0 w-full max-w-md max-lg:px-6 lg:px-12">
            <div class="py-20 space-y-3">
                <h1 class="text-[1.75rem] leading-9 font-bold text-slate-900">Reset password</h1>
                <p>Choose a new password for your account. Your old password will be deleted in the process.</p>
                <div class="pt-4 space-y-3">
                    <input [(ngModel)]="password" class="py-2 px-3 w-full" type="text" placeholder="Choose your new password"/>
                    <div class="h-full"><app-button (btnClick)="submitPassword()" [isClickable]="true" [isOperationEnded]="!!(errorMsg || successMsg)">Update</app-button></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--



<div class="bg-white dark:bg-gray-900">
    <div class="flex items-center h-screen">
        <div class="max-lg:hidden h-full w-full bg-cover bg-center bg-photo">
            <div class="flex items-center h-full px-20 bg-gray-900 bg-opacity-40">
                <div class='max-w-sm text-white'>
                    <h1 class='text-3xl font-bold'>Discover your favorite recipes</h1>
                    <p class="mt-4 leading-[1.6]">From mouthwatering mains to irresistible desserts, we've curated a diverse collection of dishes to satisfy every palate. Explore, cook, and create unforgettable meals with ease.</p>
                </div>
            </div>
        </div>
        <div class="max-lg:mx-auto shrink-0 w-full max-w-md max-lg:px-6 lg:px-12">
            <div class="py-20 space-y-3">
                <h1 class="text-[1.75rem] leading-9 font-bold text-slate-900">Reset password</h1>
                <p>Choose a new password for your account. Your old password will be deleted in the process.</p>
                <div class="pt-4 space-y-3">
                    <input [(ngModel)]="password" class="py-2 px-3 w-full" type="text" placeholder="Choose your new password"/>
            <div class="h-full"><app-button (btnClick)="submitPassword()" [isClickable]="true" [isOperationEnded]="!!(errorMsg || successMsg)">Update</app-button></div>
                </div>
            </div>
        </div>
    </div>
</div>



-->
