.main > div:not(:first-of-type) {
    @apply mt-14 pt-14 border-t border-slate-300 dark:border-gray-700
}

.main h1, .main h2 {
    
}

.main h2 {
    @apply mb-6 text-2xl font-bold text-slate-900 dark:text-gray-100 dark:border-b-gray-700;
    letter-spacing: -0.015em;
}

.small-text {
    font-size: calc(1rem - 1px);
}

.big-text {
    font-size: calc(1rem + 1px);
}

.review:last-of-type .body {
    @apply pb-0 border-b-0
}

.styled-ul div::before {
    @apply text-slate-400/80;
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
