<div *ngIf="recipe" class="grid lg:grid-cols-[auto_280px] py-32 px-6 mx-auto container lg:max-w-screen-lg">
    <div class="main lg:border-r lg:pr-11 lg:mr-11">
        <div class="space-y-5">
            <div class="flex items-center">
                <app-rating [rating]="recipe.rating"></app-rating>
                <span class="ml-2 text-sm">{{ recipe.rating }} ({{ recipe.reviews.length }} reviews)</span>
            </div>
            <h1 class="text-3xl font-extrabold tracking-tight text-slate-900">{{ recipe.title }}</h1>
            <div class="flex items-center">
                <div class="h-9 w-9 bg-slate-300 rounded-full shrink-0"></div>
                <div class="ml-3 space-y-0.5 text-sm">
                    <span class="block text-slate-900 font-medium">{{ recipe.user.username }}</span>
                    <span class="block text-slate-400">{{ getTimeLabel(recipe.createdAt) }}</span>
                </div>
            </div>
            <p class="leading-7">{{ recipe.desc }}</p>
            <div class="flex gap-1.5 pt-0.5">
                <span *ngFor="let tag of recipe.tags" class="bg-slate-100 rounded-full py-1.5 px-3.5 text-sm text-slate-500 font-medium capitalize">{{ tag }}</span>
            </div>
        </div>

        <div class="lg:hidden">
            <h2 class="mb-3 text-lg font-bold text-slate-900">Details</h2>
            <div class="details">
                <div *ngIf="recipe.duration.prep">
                    <span>Prep time</span>
                    <span>{{ recipe.duration.prep }} mins</span>
                </div>
                <div *ngIf="recipe.duration.cook">
                    <span>Cook time</span>
                    <span>{{ recipe.duration.cook }} mins</span>
                </div>
                <div *ngIf="recipe.duration.extra">
                    <span class="block font-semibold text-slate-900">Extra time</span>
                    <span>{{ recipe.duration.extra }} mins</span>
                </div>
                <div>
                    <span>Total time</span>
                    <span>{{ recipe.duration.prep + recipe.duration.cook + (recipe.duration.extra || 0) }} mins</span>
                </div>
                <div>
                    <span>Servings</span>
                    <span>{{ recipe.servings }}</span>
                </div>
            </div>
        </div>

        <div>
            <h2 class="mb-5 text-lg font-bold text-slate-900">Ingredients</h2>
            <ol class="list-disc ml-4 space-y-2">
                <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient.quantity }} {{ ingredient.name }}</li>
            </ol>
        </div>
        <div>
            <h2 class="mb-5 text-lg font-bold text-slate-900">Directions</h2>
            <ol class="list-decimal ml-5 space-y-5">
                <li *ngFor="let step of recipe.steps; index as i" class="leading-7">{{ step }}</li>
            </ol>
        </div>

        <div *ngIf="recipe.nutrition.length > 0" class="lg:hidden">
            <h2 class="mb-3 text-lg font-bold text-slate-900">Nutrition</h2>
            <div class="details">
                <div *ngFor="let n of recipe.nutrition">
                    <span class="first-letter:capitalize">{{ n.label }}</span>
                    <span>{{ n.value }}</span>
                </div>
            </div>
        </div>

        <div>
            <h2 class="mb-5 text-lg font-bold text-slate-900">Reviews ({{ recipe.reviews.length }})</h2>
            <div>
                <app-rating (onRatingChange)="setRating($event)" [isClickable]="true" [rating]="rating"></app-rating>
                <textarea [(ngModel)]="review" class="mt-4 flex border-0 outline-0 rounded-md w-full h-20 ring-1 ring-slate-300 shadow-sm py-2.5 px-3.5 text-[15px] transition-shadow focus:ring-orange-600 resize-none" placeholder="What do you think about the recipe?" ></textarea>
                <button (click)="submitReview()" class="mt-2.5 ml-auto block btn-primary py-2 px-3">Submit</button>
            </div>
            <div class="mt-4 space-y-10">
                <div *ngFor="let review of recipe.reviews" class="review">
                    <div class="flex items-center">
                        <div class="bg-slate-300 rounded-full h-9 w-9 shrink-0"></div>
                        <div class="ml-3 space-y-0.5 text-sm">
                            <span class="block text-slate-900 font-medium">{{ review.user.username }}</span>
                            <span class="block text-slate-400">{{ getTimeLabel(review.createdAt) }}</span>
                        </div>
                    </div>
                    <div class="body mt-3.5 ml-12 pb-10 border-b">
                        <app-rating [rating]="review.rating"></app-rating>
                        <p class="mt-3.5 text-[15px] leading-[1.75]">{{ review.body }}</p>
                        <div class="mt-3.5 text-orange-600 space-x-4 text-sm font-medium">
                            <button (click)="likeReview(review._id)">{{ review.liked ? 'Liked' : 'Like' }} ({{ review.likes }})</button>
                            <button (click)="dislikeReview(review._id)">{{ review.disliked ? 'Disliked' : 'Dislike' }} ({{ review.dislikes }})</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="max-lg:hidden space-y-11">
        <div>
            <h2 class="mb-3 text-lg font-bold text-slate-900">Details</h2>
            <div class="details">
                <div *ngIf="recipe.duration.prep">
                    <span>Prep time</span>
                    <span>{{ recipe.duration.prep }} mins</span>
                </div>
                <div *ngIf="recipe.duration.cook">
                    <span>Cook time</span>
                    <span>{{ recipe.duration.cook }} mins</span>
                </div>
                <div *ngIf="recipe.duration.extra">
                    <span class="block font-semibold text-slate-900">Extra time</span>
                    <span>{{ recipe.duration.extra }} mins</span>
                </div>
                <div>
                    <span>Total time</span>
                    <span>{{ recipe.duration.prep + recipe.duration.cook + (recipe.duration.extra || 0) }} mins</span>
                </div>
                <div>
                    <span>Servings</span>
                    <span>{{ recipe.servings }}</span>
                </div>
            </div>
        </div>
        <div *ngIf="recipe.nutrition.length > 0">
            <h2 class="mb-3 text-lg font-bold text-slate-900">Nutrition</h2>
            <div class="details">
                <div *ngFor="let n of recipe.nutrition">
                    <span class="first-letter:capitalize">{{ n.label }}</span>
                    <span>{{ n.value }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--

FULL STAR
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.86 83.49"><path d="M107.42,54.26H74.25L64,22.25l-10.26,32H20.57L47.43,73.85l-10.31,31.9L64,86l26.88,19.76L80.57,73.85l26.86-19.59Z" transform="translate(-20.57 -22.25)"/></svg>

HALF-EMPTY STAR
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.86 83.49"><path d="M107.42,54.26H74.25L64,22.25l-10.26,32H20.57L47.43,73.85l-10.31,31.9L64,86l26.88,19.76L80.57,73.85l26.86-19.59ZM84,96.24l-20-14.67V34.27l7.56,23.59H96.38l-20,14.61L84,96.24Z" transform="translate(-20.57 -22.25)"/></svg>

EMPTY STAR
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.86 83.49"><path d="M107,54.11H73.84l-10.25-32v0h0v0l-10.25,32H20.15L47,73.69l-10.3,31.9L63.58,85.84l26.88,19.75L80.15,73.69Zm-23.41,42L63.65,81.42,43.56,96.09l7.68-23.77-20-14.61H56l7.69-23.59,7.56,23.59H96l-20,14.61Z" transform="translate(-20.15 -22.1)"/></svg>

-->
