<header class="fixed top-0 left-0 w-full bg-white z-20 dark:bg-gray-900">
    <div class="mx-auto container lg:max-w-screen-lg sm:px-6">
        <div class="border-b py-5 text-sm font-medium text-slate-900 flex items-center justify-between max-sm:px-6">
            <a routerLink="/" class="block">🍰 flavorverse</a>
            <div class="flex items-center space-x-5 sm:space-x-6">
                <app-theme-button></app-theme-button>
                <a routerLink="/login" class="block">Login</a>
                <a routerLink="/join" class="block">Join</a>
            </div>
        </div>
    </div>
</header>
