<app-popup *ngIf="submitErrorMsg" type="error" >Operation failed. {{ submitErrorMsg }}</app-popup>
<form [formGroup]="form" class="mt-10 space-y-6 recipe-form">
    <h1 class="mb-8 text-2xl font-extrabold tracking-[-.01em] text-slate-900">{{new ? 'Add recipe' : 'Edit recipe'}}</h1>
    <div>
        <div class="description">
            <h2>Details</h2>
            <p class="mt-2">A description of your recipe. You can explain the inspiration, health benefits, etc.</p>
        </div>
        <div class="space-y-8">
            <div>
                <label for="title">Title<sup>*</sup></label>
                <input formControlName="title" type="text" name="title" id="title" class="w-full py-2 px-3" placeholder="1-50 characters" />
                <div *ngIf="title.invalid && (title.dirty || title.touched)" class="mt-2 text-sm text-red-600 leading-6">
                    <span *ngIf="title.errors?.['required']">Title is required</span>
                    <span *ngIf="title.errors?.['maxlength']">Title must be no more than 50 characters long</span>
                </div>
            </div>
            <div>
                <label for="desc">Description<sup>*</sup></label>
                <textarea formControlName="desc" name="desc" id="desc" class="flex w-full h-24 py-2 px-3 leading-relaxed resize-none" placeholder="1-1000 characters" ></textarea>
                <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="mt-2 text-sm text-red-600 leading-6">
                    <span *ngIf="desc.errors?.['required']">Description is required</span>
                    <span *ngIf="desc.errors?.['maxlength']">Description must be no more than 50 characters long</span>
                </div>
            </div>
            <div class="grid grid-cols-2 md:grid-cols-3 gap-3">
                <div>
                    <label for="servings">Servings<sup>*</sup></label>
                    <input formControlName="servings" type="number" name="servings" id="servings" class="w-full py-2 px-3" placeholder="1-100    " />
                    <div *ngIf="servings.invalid && (servings.dirty || servings.touched)" class="mt-2 text-sm text-red-600 leading-6">
                        <span *ngIf="servings.errors?.['required']">Servings is required</span>
                        <span *ngIf="servings.errors?.['min']">Servings must not be less than 1</span>
                        <span *ngIf="servings.errors?.['max']">Servings must be no more than 100</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="description">
            <h2>Duration</h2>
            <p class="mt-2">At least either of the preparation time or the cook time must be included. Each duration is expressed in minutes.</p>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-3">
            <div>
                <label for="servings">Preparation</label>
                <input formControlName="prepTime" type="number" name="prepTime" id="prepTime" class="w-full py-2 px-3" placeholder="1-3000" />
                <div *ngIf="prepTime.invalid && (prepTime.dirty || prepTime.touched)" class="mt-2 text-sm text-red-600 leading-6">
                    <span *ngIf="prepTime.errors?.['min']">Preparation time must not be less than 1 minute</span>
                    <span *ngIf="prepTime.errors?.['max']">Preparation time must be no more than 3000 minutes</span>
                </div>
            </div>
            <div>
                <label for="servings">Cooking</label>
                <input formControlName="cookTime" type="number" name="cookTime" id="cookTime" class="w-full py-2 px-3" placeholder="1-3000" />
                <div *ngIf="cookTime.invalid && (cookTime.dirty || cookTime.touched)" class="mt-2 text-sm text-red-600 leading-6">
                    <span *ngIf="cookTime.errors?.['min']">Cooking time must not be less than 1 minute</span>
                    <span *ngIf="cookTime.errors?.['max']">Cooking time must be no more than 3000 minutes</span>
                </div>
            </div>
            <div>
                <label for="servings">Extra</label>
                <input formControlName="extraTime" type="number" name="extraTime" id="extraTime" class="w-full py-2 px-3" placeholder="1-3000" />
                <div *ngIf="extraTime.invalid && (extraTime.dirty || extraTime.touched)" class="mt-2 text-sm text-red-600 leading-6">
                    <span *ngIf="extraTime.errors?.['min']">Extra time must not be less than 1 minute</span>
                    <span *ngIf="extraTime.errors?.['max']">Extra time must be no more than 3000 minutes</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="description">
            <h2>Tags</h2>
            <p class="mt-2">Use tags to easily associate your recipe to topics. You can use an already existing tag or create your own. This is optional.</p>
        </div>
        <div class="space-y-8">
            <div class="relative">
                <label>Search and pick</label>
                <div class="relative mb-3">
                    <div class="absolute left-2.5 flex items-center h-full">
                        <svg class="w-4 h-4 text-slate-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" /></svg>
                    </div>
                    <input [(ngModel)]="tagKeyword" [ngModelOptions]="{standalone: true}" type="text" class="py-2 px-3 pl-8 w-full" placeholder="Search tag" />
                </div>
                <div class="border max-h-24 overflow-auto">
                    <ng-container *ngIf="allTags">
                        <div *ngIf="relevantTags.length > 0" class="p-3 flex flex-wrap gap-2">
                            <button *ngFor="let tag of relevantTags" (click)="addTag(tag)" [disabled]="tags.includes(tag)" class="btn-soft first-letter:capitalize py-1.5 px-4 rounded-full">{{tag}} +</button>
                        </div>
                        <span *ngIf="!(relevantTags.length > 0)" class="block p-3 text-sm text-slate-400">No tags found</span>
                    </ng-container>
                    <span *ngIf="tagErrorMsg" class="block p-3 text-sm text-slate-400">{{tagErrorMsg}}</span>
                    <span *ngIf="!(allTags || tagErrorMsg)" class="block p-3 text-sm text-slate-400">Retrieving tags...</span>
                </div>
            </div>
            <div>
                <label>Make a new tag</label>
                <div class="flex space-x-2">
                    <input [(ngModel)]="customTag" [ngModelOptions]="{standalone: true}" type="text" class="w-full py-2 px-3" placeholder="1-50 characters" />
                    <button (click)="addTag(customTag)" [disabled]="(!customTag) || (customTag.length > 50)" class="btn-secondary py-2 px-3">Add</button>
                </div>
            </div>
            <div>
                <label>Current tags</label>
                <div>
                    <div *ngIf="tags.length > 0" class="flex flex-wrap gap-2">
                        <button
                            *ngFor="let tag of tags"
                            (click)="removeTag(tag)"
                            class="btn-soft first-letter:capitalize rounded-full py-1.5 px-4"
                        >{{ tag }}</button>
                    </div>
                    <span *ngIf="!(tags.length > 0)" class="block text-slate-400">No tags has been added</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="description">
            <h2>Ingredients</h2>
            <p class="mt-2">Add the name and amount of each ingredient. Don't forget to include the unit of measurement.</p>
        </div>
        <div class="space-y-8">
            <div>
                <div class="grid grid-cols-2 gap-3">
                    <div>
                        <label>Name</label>
                        <input [(ngModel)]="currentIngredient.name" [ngModelOptions]="{standalone: true}" type="text" class="w-full py-2 px-3" placeholder="1-50 characters" />

                    </div>
                    <div>
                        <label>Amount</label>
                        <input [(ngModel)]="currentIngredient.quantity" [ngModelOptions]="{standalone: true}" type="text" class="w-full py-2 px-3" placeholder="1-20 characters" />
                    </div>
                </div>
                <button (click)="addIngredient()" [disabled]="(!currentIngredient.name || currentIngredient.name.length > 50) || (!currentIngredient.quantity || currentIngredient.quantity.length > 20)" class="mt-3 btn-secondary py-2 px-3">Add</button>
            </div>
            <div>
                <label>Current ingredients<sup>*</sup></label>
                <div>
                    <div *ngIf="ingredients.length > 0" class="space-y-2">
                        <div *ngFor="let ingredient of ingredients" class="flex items-center space-x-2">
                            <button (click)="removeIngredient(ingredient.name)" class="btn-secondary block py-0.5 px-2 font-bold text-lg leading-none">-</button>
                            <span class="block">{{ ingredient.quantity }} {{ ingredient.name }}</span>
                        </div>
                    </div>
                    <span *ngIf="!(ingredients.length > 0)" class="block text-slate-400">No ingredients has been added</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="description">
            <h2>Directions</h2>
            <p class="mt-2">Explain every step of the recipe in details.</p>
        </div>
        <div class="space-y-8">
            <div>
                <label>Step {{steps.length + 1}}</label>
                <div class="flex space-x-2">
                    <input [(ngModel)]="currentStep" [ngModelOptions]="{standalone: true}" type="text" class="w-full py-2 px-3" placeholder="1-300 characters" />
                    <button (click)="addStep(currentStep)" [disabled]="(!currentStep) || (currentStep.length > 300)" class="btn-secondary py-2 px-3">Add</button>
                </div>
            </div>
            <div>
                <label>Current directions<sup>*</sup></label>
                <ol *ngIf="steps.length > 0" class="list-decimal ml-4 space-y-4">
                    <li *ngFor="let s of steps">
                        <div class="flex items-start justify-between space-x-3">
                            <p>{{s}}</p>
                            <button (click)="removeStep(s)" class="btn-secondary block py-0.5 px-2 font-bold text-lg leading-none">-</button>
                        </div>
                    </li>
                </ol>
                <span *ngIf="!(steps.length > 0)" class="block text-slate-400">No directions has been added</span>
            </div>
        </div>
    </div>
    <div>
        <div class="description">
            <h2>Nutrition</h2>
            <p class="mt-2">If you know, list the nutritional facts of your recipe. This is optional.</p>
        </div>
        <div class="space-y-8">
            <div>
                <div class="grid grid-cols-2 gap-3">
                    <div>
                        <label>Label</label>
                        <input [(ngModel)]="currentNutrition.label" [ngModelOptions]="{standalone: true}" type="text" class="w-full py-2 px-3" placeholder="1-50 characters" />

                    </div>
                    <div>
                        <label>Amount</label>
                        <input [(ngModel)]="currentNutrition.value" [ngModelOptions]="{standalone: true}" type="text" class="w-full py-2 px-3" placeholder="1-20 characters" />
                    </div>
                </div>
                <button (click)="addNutrition()" [disabled]="(!currentNutrition.label || currentNutrition.label.length > 50) || (!currentNutrition.value || currentNutrition.value.length > 20)" class="mt-3 btn-secondary py-2 px-3">Add</button>
            </div>
            <div>
                <label>Current nutritional facts</label>
                <div>
                    <div *ngIf="nutrition.length > 0" class="space-y-2">
                        <div *ngFor="let n of nutrition" class="flex items-center space-x-2">
                            <button (click)="removeNutrition(n.label)" class="btn-secondary block py-0.5 px-2 font-bold text-lg leading-none">-</button>
                            <span class="block">{{ n.value }} {{ n.label }}</span>
                        </div>
                    </div>
                    <span *ngIf="!(nutrition.length > 0)" class="block text-slate-400">The nutritional facts are currently empty</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button *ngIf="new" (click)="submitRecipe($event)" [disabled]="!isFormValid" class="btn-primary py-2 px-3">Submit recipe</button>
        <button *ngIf="!new" (click)="updateRecipe($event)" [disabled]="!isFormValid" class="btn-primary py-2 px-3">Save changes</button>
    </div>
    <div *ngIf="!new" class="border rounded-md p-6 !pt-5">
        <h2 class="mb-2 font-extrabold text-slate-900">Delete recipe</h2>
        <p>If you choose to delete the recipe, all the reactions and reviews will be gone as well. This action is not reversible.</p>
        <button (click)="deleteRecipe($event)" class="mt-5 btn-secondary py-2 px-3 text-red-600 dark:text-red-500">Delete recipe</button>
    </div>
</form>
