<span class="block text-sm w-fit bg-slate-100 text-slate-100 dark:text-gray-800 select-none animate-pulse">10 results found.</span>
<div class="divide-y divide-slate-200 text-slate-100 dark:text-gray-800 select-none animate-pulse">
    <div *ngFor="let recipe of recipes" class="block space-y-3 py-12">
        <div class="flex items-center justify-between">
            <div class="flex items-center w-28 h-6 bg-slate-100"></div>
            <span class="text-sm bg-slate-100">30min</span>
        </div>
        <span class="block font-bold text-lg w-fit bg-slate-100">{{ recipe.title }}</span>
        <p class="leading-[1.75] text-[15px] bg-slate-100">{{ recipe.desc.length > 165 ? (recipe.desc.slice(0, 165) + '...') : recipe.desc }}</p>
        <div class="flex space-x-2">
            <span *ngFor="let tag of recipe.tags" class="rounded-full py-1.5 px-3.5 text-sm font-medium capitalize bg-slate-100">{{ tag }}</span>
        </div>
    </div>
</div>
