<a [routerLink]="('/recipes/' + recipe._id)" class="block border border-slate-300 rounded-lg flex flex-col h-full">
    <img *ngIf="recipe.img" [src]="recipe.img" class="h-48 shrink-0 rounded-t-lg w-full object-cover"/>
    <div *ngIf="!recipe.img" class="h-48 shrink-0 rounded-t-lg w-full bg-slate-100 flex">
        <svg class="w-20 h-20 text-slate-300 m-auto dark:text-gray-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" /></svg>
    </div>
    <div class="flex flex-col justify-between h-full p-5 sm:p-6">
        <div>
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <app-rating [rating]="recipe.rating"></app-rating>
                    <span class="ml-2 text-sm">{{ recipe.rating }}</span>
                </div>
                <span class="text-sm text-slate-400">{{ getTimeLabel(recipe.createdAt) }}</span>
            </div>
            <h2 class="mt-6 block font-bold text-xl text-slate-900">{{ recipe.title }}</h2>
            <p class="mt-4 line-clamp-3">{{recipe.desc}}</p>
            <div class="mt-5 flex gap-4 text-sm">
                <ng-container>
                    <span>Time: <span class="font-semibold">{{ (recipe.duration.prep || 0) + (recipe.duration.cook || 0) + (recipe.duration.extra || 0) }}min</span></span>
                </ng-container>
                <ng-container>
                    <span>Servings: <span class="font-semibold">{{recipe.servings}}</span></span>
                </ng-container>
            </div>
        </div>

        <div>
            <div *ngIf="recipe.tags.length > 0" class="mt-6 flex flex-wrap gap-1.5 pt-1">
                <span *ngFor="let tag of recipe.tags" class="rounded-full bg-yellow-50 dark:bg-gray-800 py-1.5 px-4 text-sm uppercase">{{ tag }}</span>
            </div>
        </div>
    </div>
</a>
