<div *ngIf="recipe" class="grid lg:grid-cols-[auto_280px] select-none animate-pulse text-slate-100 dark:text-gray-800">
    <div class="lg:border-r lg:pr-11 lg:mr-11">
        <div class="space-y-5 pb-0.5">
            <div class="flex items-center bg-slate-100 w-28 h-6"></div>
            <h1 class="text-3xl font-extrabold tracking-tight bg-slate-100">{{ recipe.title }}</h1>
            <div class="flex items-center">
                <div class="h-11 w-11 bg-slate-100 rounded-full shrink-0"></div>
                <div class="ml-3 space-y-1.5 text-sm">
                    <span class="block bg-slate-100">{{ recipe.user.username }}</span>
                    <span class="block w-fit bg-slate-100">20h</span>
                </div>
            </div>
            <p class="leading-7 bg-slate-100">{{ recipe.desc }}</p>
            <div class="flex gap-1.5 pt-0.5">
                <span *ngFor="let tag of recipe.tags" class="bg-slate-100 rounded-full py-1.5 px-3.5 text-sm font-medium capitalize">{{ tag }}</span>
            </div>
        </div>
        <div class="mt-12 pt-11 border-t dark:border-gray-700">
            <h2 class="mb-5 text-lg font-bold w-fit bg-slate-100">Ingredients</h2>
            <ul class="list-disc ml-4 space-y-2 text-[15px]">
                <li *ngFor="let ingredient of recipe.ingredients" class="bg-slate-100">{{ ingredient.quantity }} {{ ingredient.name }}</li>
            </ul>
        </div>
        <div class="mt-12 pt-11 border-t dark:border-gray-700">
            <h2 class="mb-5 text-lg font-bold w-fit bg-slate-100">Directions</h2>
            <ul class="list-disc ml-4 space-y-5 text-[15px]">
                <li *ngFor="let step of recipe.steps" class="leading-[1.75] bg-slate-100">{{ step }}</li>
            </ul>
        </div>
        <div class="mt-12 pt-11 border-t dark:border-gray-700">
            <h2 class="mb-5 text-lg font-bold w-fit bg-slate-100">Reviews ({{ recipe.reviews.length }})</h2>
            <div class="mt-4 space-y-10">
                <div *ngFor="let review of recipe.reviews" class="review">
                    <div class="flex items-center">
                        <div class="h-11 w-11 bg-slate-100 rounded-full shrink-0"></div>
                        <div class="ml-3 space-y-1.5 text-sm">
                            <span class="block bg-slate-100">{{ recipe.user.username }}</span>
                            <span class="block w-fit bg-slate-100">20h</span>
                        </div>
                    </div>
                    <div class="body mt-3.5 ml-14 pb-10 border-b">
                        <div class="flex items-center bg-slate-100 w-28 h-6"></div>
                        <p class="mt-4 text-[15px] leading-[1.75] bg-slate-100">{{ review.body }}</p>
                        <div class="mt-4 text-sm font-medium flex space-x-4">
                            <button class="flex items-center">
                                <span class="w-12 bg-slate-100">100</span>
                            </button>
                            <button class="flex items-center">
                                <span class="w-12 bg-slate-100">100</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="max-lg:hidden space-y-11">
        <div>
            <h2 class="mb-3 text-lg font-bold w-fit bg-slate-100">Details</h2>
            <div class="w-full h-56 bg-slate-100"></div>
        </div>
    </div>
</div>
