<div class="select-none animate-pulse text-slate-100 dark:text-gray-800">
    <div class="h-28 w-28 rounded-full shrink-0 bg-slate-100"></div>
    <div class="mt-6">
        <h2 class="text-lg font-bold w-fit bg-slate-100">{{ profile.name }}</h2>
        <span class="mt-2 block font-medium w-fit bg-slate-100">@{{ profile.username }}</span>
    </div>
    <p class="mt-5 leading-7 bg-slate-100">{{ profile.about || "This user hasn't added a self-description yet." }}</p>
    <div class="mt-6 flex max-md:flex-col max-md:space-y-2 md:space-x-4 text-[15px]">
        <span class="bg-slate-100">Joined 2h</span>
        <span class="bg-slate-100">Joined 2h</span>
    </div>
</div>
<div class="border-t mt-12 select-none animate-pulse text-slate-100 dark:text-gray-800">
    <span class="mt-4 block text-sm w-fit bg-slate-100">20 recipes found</span>
    <div class="divide-y divide-slate-200">
        <div *ngFor="let recipe of recipes" class="block space-y-3 py-12">
            <div class="flex items-center justify-between">
                <div class="flex items-center w-28 h-6 bg-slate-100"></div>
                <span class="text-sm w-fit bg-slate-100">50min</span>
            </div>
            <span class="block font-bold text-lg w-fit bg-slate-100">{{ recipe.title }}</span>
            <p class="leading-[1.75] text-[15px] bg-slate-100">{{ recipe.desc.length > 150 ? (recipe.desc.slice(0, 150) + '...') : recipe.desc }}</p>
            <div class="flex space-x-2">
                <span *ngFor="let tag of recipe.tags" class="bg-slate-100 rounded-full py-1.5 px-3.5 text-sm font-medium capitalize">{{ tag }}</span>
            </div>
        </div>
    </div>
</div>
