<app-popup *ngIf="successMsg" type="success">{{successMsg}}</app-popup>
<app-popup *ngIf="errorMsg" type="error">{{errorMsg}}</app-popup>
<div id="settings">
    <div class="sm:-mt-3 mb-12 flex justify-between">
        <h1 class="text-2xl font-extrabold text-slate-900">Edit profile</h1>
        <button (click)="handleClose()">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" /></svg>
        </button>
    </div>
    <form [formGroup]="detailsForm" *ngIf="this.detailsForm">
        <div class="description">
            <h2>Personal info</h2>
            <p class="mt-2">This data will be displayed publicly so be careful with what you share.</p>
        </div>
        <div class="space-y-8">
            <div class="flex items-center space-x-3">
                <img *ngIf="user.img" class="h-20 w-20 shrink-0 rounded-full" [src]="user.img" />
                <svg *ngIf="!user.img" class="h-20 w-20 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64.16 64.16"><path class="text-slate-200 dark:text-gray-700/75" fill="currentColor" d="M95.66,63.85a32,32,0,0,1-9.39,22.68,31.28,31.28,0,0,1-5.19,4.2A32.08,32.08,0,1,1,95.66,63.85Z" transform="translate(-31.5 -31.77)"/><circle class="text-slate-400 dark:text-gray-500" fill="currentColor" cx="63.58" cy="55.1" r="11.67" transform="translate(-32.49 77.26) rotate(-80.78)"/><path class="text-slate-400 dark:text-gray-500" fill="currentColor" d="M81.08,90.1v.63a32,32,0,0,1-35,0V90.1a17.5,17.5,0,0,1,35,0Z" transform="translate(-31.5 -31.77)"/></svg>
                <div class="space-y-2">
                    <div>
                        <label for="profile-img" class="btn-secondary py-2 px-3 cursor-pointer w-fit !mb-0 hover:bg-slate-100 dark:hover:bg-gray-700/50">Upload image</label>
                        <input type="file" id="profile-img" (change)="uploadImage($event)" accept="image/*" class="hidden" />
                    </div>
                    <span class="block text-sm break-all">{{newImg ? newImg.name : 'No file selected'}}</span>
                </div>
            </div>
            <div>
                <label for="username">Username</label>
                <input formControlName="username" type="text" name="username" id="username" class="rounded-md w-full py-2 px-3"/>
                <div *ngIf="username.invalid && (username.dirty || username.touched)" class="mt-2 text-sm text-red-600 leading-6">
                    <span *ngIf="username.errors?.['required']">Username is required</span>
                    <span *ngIf="username.errors?.['maxlength']">Username must be no more than 30 characters long</span>
                </div>
            </div>
            <div>
                <label for="name">Full name</label>
                <input formControlName="name" type="text" name="name" id="name" class="rounded-md w-full py-2 px-3"/>
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="mt-2 text-sm text-red-600 leading-6">
                    <span *ngIf="name.errors?.['maxlength']">Your full name must be no more than 50 characters long</span>
                </div>
            </div>
            <div>
                <label for="about">About</label>
                <textarea formControlName="about" (input)="handleAutoResize($event)" name="about" id="about" class="flex rounded-md w-full h-24 py-2 px-3 resize-none" placeholder="Write a few sentences about yourself" ></textarea>
                <div *ngIf="about.invalid && (about.dirty || about.touched)" class="mt-2 text-sm text-red-600 leading-6">
                    <span *ngIf="about.errors?.['maxlength']">Your introduction must be no more than 1000 characters long</span>
                </div>
            </div>
            <div>
                <label for="link">Link</label>
                <input formControlName="link" type="text" name="link" id="link" class="rounded-md w-full py-2 px-3"/>
                <div *ngIf="link.invalid && (link.dirty || link.touched)" class="mt-2 text-sm text-red-600 leading-6">
                    <span *ngIf="link.errors?.['maxlength']">The link must be no more than 100 characters long</span>
                </div>
            </div>
            <div class="w-fit">
                <app-button (btnClick)="saveProfile()" [isClickable]="detailsForm.valid" [isOperationEnded]="!!(successMsg || errorMsg)">Save</app-button>
            </div>
        </div>
    </form>

    <form [formGroup]="emailForm" *ngIf="this.emailForm">
        <div class="description">
            <h2>Contact info</h2>
            <p class="mt-2">You'll have to verify the new email address before the change can be saved.</p>
        </div>
        <div class="space-y-8">
            <div>
                <label for="email">Current email address</label>
                <input formControlName="email" type="email" name="email" id="email" class="rounded-md w-full py-2 px-3 text-[15px] text-slate-400 cursor-text bg-slate-50 dark:bg-gray-800/50"/>
            </div>
            <div *ngIf="user.newEmail.address" class="p-5 pb-6 border rounded-lg text-center">
                <svg class="mb-3 h-8 w-8 text-slate-300 mx-auto dark:text-gray-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.25" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" /></svg>
                <p>Follow the instructions sent to your new email address to finish updating. You can also revert the change. Doing so will make the verification null.</p>
                <div class="mt-4 w-fit mx-auto">
                    <app-button (btnClick)="stopUpdateEmail()" [isClickable]="true" [isOperationEnded]="!!(successMsg || errorMsg)">I don't want to update anymore</app-button>
                </div>
            </div>
            <ng-container *ngIf="!user.newEmail.address">
                <div>
                    <label for="new-email">New email address</label>
                    <input formControlName="newEmail" type="email" name="new-email" id="new-email" class="rounded-md w-full py-2 px-3 text-[15px]"/>
                    <div *ngIf="newEmail.invalid && (newEmail.dirty || newEmail.touched)" class="mt-2 text-sm text-red-600 leading-6">
                        <span *ngIf="newEmail.errors?.['required']">Email cannot be empty</span>
                        <span *ngIf="newEmail.errors?.['email']">Email must be in a valid format</span>
                        <span *ngIf="newEmail.errors?.['maxlength']">Email must be no more than 30 characters long</span>
                    </div>
                </div>
                <div class="w-fit">
                    <app-button (btnClick)="saveEmail()" [isClickable]="emailForm.valid" [isOperationEnded]="!!errorMsg">Save</app-button>
                </div>
            </ng-container>
        </div>
    </form>

    <form [formGroup]="passwordForm" *ngIf="this.passwordForm">
        <div class="description">
            <h2>Password</h2>
            <p class="mt-2">Update your password associated with your account.</p>
        </div>
        <div class="space-y-8">
            <div>
                <label for="password">Current password</label>
                <input formControlName="password" type="password" name="password" id="password" class="rounded-md w-full py-2 px-3 text-[15px]"/>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="mt-2 text-sm text-red-600 leading-6">
                    <span *ngIf="password.errors?.['required']">Password cannot be empty</span>
                    <span *ngIf="password.errors?.['maxlength']">Password is no more than 20 characters long</span>
                </div>
            </div>
            <div>
                <label for="new-password">New password</label>
                <input formControlName="newPassword" type="password" name="new-password" id="new-password" class="rounded-md w-full py-2 px-3 text-[15px]"/>
                <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="mt-2 text-sm text-red-600 leading-6">
                    <span *ngIf="newPassword.errors?.['required']">The new password cannot be empty</span>
                    <span *ngIf="newPassword.errors?.['maxlength']">The new password must be no more than 20 characters long</span>
                </div>
            </div>
            <div class="w-fit">
                <app-button (btnClick)="savePassword()" [isClickable]="passwordForm.valid" [isOperationEnded]="!!(successMsg || errorMsg)">Save</app-button>
            </div>
        </div>
    </form>

    <div class="border-t pt-12 mt-12 dark:border-gray-700">
        <div class="description">
            <h2>Delete account</h2>
            <p class="mt-2">This action is not reversible. All information related to this account will be deleted permanently.</p>
        </div>
        <div class="w-fit">
            <app-button (btnClick)="deleteProfile()" [isClickable]="true" [isOperationEnded]="!!errorMsg">Delete account</app-button>
        </div>
    </div>
</div>
