<app-popup *ngIf="errorMsg" >Operation failed. {{ errorMsg }}</app-popup>
<div class="flex min-h-screen px-6">
    <div class="m-auto container max-w-sm py-20">
        <div>
            <h1 class="text-[1.6rem] leading-9 font-extrabold tracking-tight text-slate-900">{{ url === '/login' ? 'Welcome back!': 'Join flavorverse' }}</h1>
            <span *ngIf="url === '/login'" class="block mt-2.5 leading-6 text-sm">Not a member? <a routerLink="/join" class="text-orange-600 font-medium">Join flavorverse</a></span>
            <span *ngIf="url === '/join'" class="block mt-2 leading-6 text-sm">Already have an account? <a routerLink="/login" class="text-orange-600 font-medium">Sign in</a></span>
        </div>
        <form [formGroup]="form" class="mt-10 space-y-6">
            <div>
                <label for="email" class="block text-sm font-medium text-slate-900 mb-2 leading-6">Email address</label>
                <input formControlName="email" type="email" name="email" id="email" class="rounded-md w-full py-2 px-3 text-[15px]"/>
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="mt-2 text-sm text-red-600 leading-6">
                    <span *ngIf="email.errors?.['required']">Email is required</span>
                    <span *ngIf="email.errors?.['email']">Email must be in a valid format</span>
                    <span *ngIf="email.errors?.['maxlength']">Email must be no more than 30 characters long</span>
                </div>
            </div>
            <div>
                <label for="password" class="block text-sm font-medium text-slate-900 mb-2 leading-6">Password</label>
                <input formControlName="password" type="password" name="password" id="password" class="rounded-md w-full py-2 px-3 text-[15px]"/>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="mt-2 text-sm text-red-600 leading-6">
                    <span *ngIf="password.errors?.['required']">Password is required</span>
                    <span *ngIf="password.errors?.['maxlength']">Password must be no more than 20 characters long</span>
                </div>
            </div>
            <div *ngIf="url === '/login'" class="flex items-center justify-between text-sm">
                <div (click)="remember = !remember" class="flex items-center space-x-2 cursor-pointer">
                    <div [class]="remember ? 'bg-orange-600 !border-orange-600 dark:text-white dark:!border-orange-500' : ''" class="h-4 w-4 rounded border border-slate-300 leading-none font-semibold text-white flex items-center justify-center transition-colors dark:text-gray-900">✓</div>
                    <span>Remember me</span>
                </div>
                <a routerLink="/join" class="text-orange-600 font-medium">Forgot password?</a>
            </div>
            <button (click)="submitData($event)" [disabled]="!form.valid" class="btn-primary block py-2 w-full">{{ url === '/login' ? 'Sign in': 'Create account' }}</button>
        </form>
    </div>
</div>
