<app-full-screen [isVisible]="isBoxOpen">
    <app-edit-profile *ngIf="profile && currentUser" [user]="profile" (close)="toggleBox(false)" (onDetailsUpdate)="handleDetailsUpdate($event)"></app-edit-profile>
</app-full-screen>
<div class=" py-32 px-6 mx-auto container max-w-3xl">
    <app-retrieval-wrapper [data]="profile" [errorMsg]="errorMsg" >
        <ng-container *ngIf="profile">
            <div class="space-y-7">
                <div class="flex justify-between">
                    <img *ngIf="profile.img" class="h-36 w-36 shrink-0 rounded-full" [src]="profile.img" />
                    <app-avatar *ngIf="!profile.img" className="h-32 w-32 shrink-0" ></app-avatar>
                    <button *ngIf="currentUser && (profile._id === currentUser._id)" (click)="toggleBox(true)" class="btn-secondary py-2 px-3 h-fit">Edit profile</button>
                </div>
                <div class="pt-1">
                    <h2 class="text-[1.75rem] font-bold text-slate-900">{{ profile.name || profile.username }}</h2>
                    <span class="mt-0.5 block text-slate-400 font-medium">@{{ profile.username }}</span>
                </div>
                <p class="!mt-6 big-text leading-[1.75]">{{ profile.about || "This user hasn't added an introduction yet." }}</p>
                <div class="flex max-md:flex-col max-md:space-y-2 md:space-x-6 text-slate-400">
                    <div class="flex items-center space-x-2">
                        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5" /></svg>
                        <span>Joined {{ generateDateLabel(profile.createdAt) }}</span>
                    </div>
                    <div *ngIf="profile.link" class="flex items-center space-x-2">
                        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" /></svg>
                        <a [href]="profile.link" target="_blank" rel="noreferrer" >{{profile.link}}</a>
                    </div>
                </div>
            </div>
            <div class="border-t mt-14 pt-14">
                <span class="block text-sm">{{ recipes.length }} recipes found</span>
                <div class="mt-4 grid gap-6 lg:grid-cols-2">
                    <app-recipe-small *ngFor="let recipe of recipes" [recipe]="recipe"></app-recipe-small>
                </div>
            </div>
        </ng-container>
    </app-retrieval-wrapper>
</div>
<app-footer *ngIf="profile"></app-footer>
