<div class=" py-32 px-6 mx-auto container sm:max-w-screen-sm">
    <div>
        <div class="h-28 w-28 bg-slate-300 rounded-full shrink-0 dark:bg-gray-700"></div>
        <div class="mt-6">
            <h2 class="text-lg font-bold text-slate-900">{{ profile.name }}</h2>
            <span class="block text-slate-400 font-medium">@{{ profile.username }}</span>
        </div>
        <p class="mt-5 leading-7">{{ profile.about || "This user hasn't added a self-description yet." }}</p>
        <div class="mt-6 flex max-md:flex-col max-md:space-y-2 md:space-x-6 text-[15px] text-slate-400">

            <div class="flex space-x-1">
                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5" /></svg>
                <span>Joined {{ getTimeLabel(profile.createdAt) }}</span>
            </div>
            <div class="flex space-x-1">
                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" /></svg>
                <span>https://www.instagram.com/forgot...</span>
            </div>
        </div>
    </div>
    <div class="border-t mt-12">
        <span class="block text-sm mt-4">{{ recipes.length }} recipes found.</span>
        <div class="divide-y divide-slate-200">
            <a *ngFor="let recipe of recipes" [routerLink]="('/recipes/' + recipe._id)" class="block space-y-3 pt-11 pb-12">
                <span class="block font-bold text-lg text-slate-900">{{ recipe.title }}</span>
                <div class="flex items-center pb-0.5">
                    <app-rating [rating]="recipe.rating"></app-rating>
                    <span class="ml-2 text-sm">{{ recipe.rating }} ({{ recipe.reviews.length }} reviews)</span>
                </div>
                <p class="leading-[1.75] text-[15px]">{{ recipe.desc.length > 150 ? (recipe.desc.slice(0, 150) + '...') : recipe.desc }}</p>
                <div class="flex gap-1.5 pt-0.5">
                    <span *ngFor="let tag of recipe.tags" class="bg-slate-100 rounded-full py-1.5 px-3.5 text-sm text-slate-500 font-medium capitalize">{{ tag }}</span>
                </div>
            </a>
        </div>
    </div>
</div>
